

.home-container > .row {
  -webkit-flex: 1;
  align-content: center;
  padding: 3rem 3rem 3rem 3rem;
}

.home-container .ion-title .info {
  align-content: center;
}

.row.icon-row {
  align-content: center !important;
  align-self: center !important;
  align-items: center !important;
  text-align: center !important;
  justify-content: space-around;
  margin: 5% 5% 5% 5%;
  padding: 2% 2% 2% 2%; 
}
.col-sm-4 {
  align-content: center !important;
  align-self: center !important;
  align-items: center !important;
  text-align: center !important;
}

.row.relatorio {
  justify-content: center;
}

.home-container .ion-title .info {
  justify-content: center !important;
  align-content: center !important;
  align-self: center !important;
  align-items: center !important;
  text-align: center !important;
}

.scroll-content {
  justify-content: center !important;
}