// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*custom Ionicon icon*/
.ion-md-anotacoes {
    max-width: 2rem;
    font-weight: normal;
    color: rgba(60, 60, 60, 0.7);
    padding: 0;
    content: url("../assets/tabicons/anotacoes.svg") !important;  
}

.ion-md-alerta {
    max-width: 2rem;
    font-weight: normal;
    color: rgba(60, 60, 60, 0.7);
    padding: 0;
    content: url("../assets/tabicons/alerta.svg") !important;  
}

.ion-md-grafico {
    max-width: 2rem;
    font-weight: normal;
    color: rgba(60, 60, 60, 0.7);
    padding: 0;
    content: url("../assets/tabicons/grafico.svg") !important;  
}

.ion-md-tabela {
    max-width: 3rem;
    font-weight: normal;
    color: rgba(60, 60, 60, 0.7);
    padding: 0;
    content: url("../assets/tabicons/tabela.svg") !important;  
}

.ion-md-calculadora {
    max-width: 2rem;
    font-weight: normal;
    color: rgba(60, 60, 60, 0.7);
    padding: 0;
    content: url("../assets/tabicons/calculadora.svg") !important;  
}

.button {
  text-align: center;
  background-color: white;
  color: red;
  font-size: 5mm;
  margin: 1rem 1rem 1rem 1rem;
  height: 4rem;
  width: 30rem;
  max-width:6rm;
  border-radius: 5px;
}

.all-content {
    background-color: #BCD4E6;
}